<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.3.0/font/bootstrap-icons.css">
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-dark-subtle text-white">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">BDCC FS Spring MVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
    <div layout:fragment="content1" class="flex-fill"></div>

<footer class="bg-light text-dark text-center mt-auto py-3 ">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
            <span class="me-2">&copy; <span th:text="${T(java.time.Year).now()}"></span>OURAHMA  Maroua</span>
            <a href="https://github.com/ourahma" target="_blank" class="text-dark me-2">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://linkedin.com/in/maroua-ourahma" target="_blank" class="text-dark">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</footer>



</body>
</html>